.App {
  text-align: center;
}

header{
  height: 100px;
  border-bottom: 2px solid black;
  margin-bottom: 25px;
  font-size: 2em;
}

.listing-image{
  height: 150px;
}

.listing-name{
  font-size: 1.5em;
  margin: 2px;
}

.listing-info{
  font-size: 1.25em;
  margin: 2px;
}

.listing-li{
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  color: white;
  box-shadow: 2px 2px gray;
  height: 200px;
  width: 200px;
}

.listing-li:hover{
transform: scale(1.05);
}

.gallery-ul{
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  width: 80%;
  min-width: 600px;
}

.sort-ul{
  list-style: none;
  display: inline-flex;
}